.cguniversal {
    font-size: 30px;
}

.novedades {
    font-size: 40px;

}

.medidasdeseguiridad {
    font-size: 20px;
}

.dolar {
    width: 170px;
    height: 150px;
    background-color: $colorUno;
    font-size: 20px;
    color: $colorUno;
    border-radius: 10px;
    animation-name: cajadolar;
    position: relative;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes cajadolar {
    10%{
        left: 200px;
    }
    40% {left: 400px}

    50% {left: 600px}
    70% { background-color: darkblue; left: 800px}

    80% {
        background-color: darkblue;
        left:auto;
   
        color: darkblue !important;
        font-size: 50px !important;
        
    }
    100% {left: 1000px;}

}