footer {
	margin: 0px;
	padding: 0px;
	background-color: $colorUno;
	ol {
		color: lightblue;
	}
}
.contactofooter {
	
	color: lightblue;
}
.logonombre {
	margin-left: 50px;
	margin-bottom: 50px;
	

}