a {
    text-decoration: none
}
ul {
	list-style: none;
	text-decoration: none;
}
ol {
	list-style: none;
	text-decoration: none;
}
* {
	padding: 3px;
	margin: 0px;
	overflow-x: hidden;

}

.logosolo {
    width: 100px;
}
h1 {
	color: lightblue;
	font-style: initial;
}
.titulos {
	color: lightblue;
}
p {
    color: lightblue;
}
body {
    background-color: $colorDos;
	font-family: 'Philosopher', sans-serif;
}

.logonombre {
	width: 250px;
}
.listapase {
	color: lightblue;
}